<div class="row">
	<div class="col-lg-12">
		<h4 class="text-info"><i class="fab fa-hubspot"></i> HUBS</h4>
		<hr>
		<nav aria-label="breadcrumb" class="float-right">
			<ol class="breadcrumb h5">
		    	<li class="breadcrumb-item">
		    		<a routerLink="/dashboard">Dashboard</a>
		    	</li>
		    	<li class="breadcrumb-item">
		    		<a [routerLink]="['/dashboard/simulation', id_site]">Simulations</a>
		    	</li>
		    	<li class="breadcrumb-item active" aria-current="page">Hubs</li>
		  	</ol>
		</nav>
	</div>
</div>

<div class="row">
	<div class="col-lg-3">
		<h4><b>Month:</b> {{ month }} </h4>
	</div>

	<div class="col-lg-12">
		<table class="table table-hover h5">
			<thead class="bg-info text-white text-center">
				<tr>
					<th>
						<button class="btn btn-link" (click)="campo1 ? ordenarCampo1Desc() : ordenarCampo1Asc()">
							<span class="h5 text-white">
								<span [ngClass]="campo1 ? 'fas fa-sort-up' : 'fas fa-sort-down'"></span> Name
							</span>
						</button>
					</th>
					<th>
						<button class="btn btn-link" (click)="campo2 ? ordenarCampo2Desc() : ordenarCampo2Asc()">
							<span class="h5 text-white">
								<span [ngClass]="campo2 ? 'fas fa-sort-up' : 'fas fa-sort-down'"></span> Forecasted Traffic
							</span>
						</button>
					</th>
					<th>
						<button class="btn btn-link" (click)="campo3 ? ordenarCampo3Desc() : ordenarCampo3Asc()">
							<span class="h5 text-white">
								<span [ngClass]="campo3 ? 'fas fa-sort-up' : 'fas fa-sort-down'"></span> Max Port Size
							</span>
						</button>
					</th>
					<th>
						<button class="btn btn-link" (click)="campo4 ? ordenarCampo4Desc() : ordenarCampo4Asc()">
							<span class="h5 text-white">
								<span [ngClass]="campo4 ? 'fas fa-sort-up' : 'fas fa-sort-down'"></span> Provisioned Capacity
							</span>
						</button>
					</th>
				</tr>
			</thead>
			<tbody class="text-center text-dark">
				<tr *ngFor="let hub of hubs | paginate: { itemsPerPage: 5, currentPage: p }">
					<td>{{ hub.hub_name }}</td>
					<td>{{ hub.forecasted_traffic }}</td>
					<td>{{ hub.max_port_size }}</td>
					<td>{{ hub.provisioned_capacity }}</td>
				</tr>
			</tbody>
		</table>
		<pagination-controls (pageChange)="p = $event"></pagination-controls>
	</div>
</div>
